{% if site.about %}
	<div class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1>About Me</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="stackScore">
				<a target='_blank' href="{{site.about.profileurl}}">
					<!----<img src="{{site.hackthebox.pic}}" width="208" height="58"  ---->
						<img src="../img/om.jpg" alt="UDAY KUMAR">
						alt="Jump to LinkedIn Profile" 
						title="Jump on my Professional LinkedIn Profile">
				</a>
			</div>
		</div>
	</div>
{% endif %}
